parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\DB\\:\\:connection\\(\\)\\.$#"
			count: 1
			path: src/Validators/DatabaseQueueSizeValidator.php
